:root {
  scroll-behavior: smooth;
  background: linear-gradient(rgba(39, 39, 39), rgb(15, 15, 15));
  font-family: Onest;
  font-style: bold;
  font-size: 17px;
  color: #ffffff;
}
*{
  box-sizing: border-box;
}

@media (prefer-color-sheme: dark) {
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 63);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(37, 37, 37);
}
.bg-gray {
  background: rgb(84, 84, 84);
}

a {
  color: white;
  text-decoration: none;
}
a:link{
  color: rgb(69, 69, 255);
}

h2 {
  text-align: center;
}

body {
  margin: 0;
}

.container {
  margin-bottom: 144px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
}
.regular {
  font-weight: bold;
}

.portfolio h2{
  padding: 20px 0;
  margin: 144px 0;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text{
  text-align: center;
}
.project {
  width: 100%;
  text-align: center;
  display: flex;
  padding: 16px;
  margin: 10px;
  flex-direction: column;
  border-radius: 10px;
}

.projects .project{
  width: clamp(50px, 100%, 300px);
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.about{
  padding: 60px 40px;
  margin-bottom: 144px;
}

.frontend, .backend, .SDE, .platform, .other{
  margin: 20px;
}

.steck{
  display: flex;
  padding: 20px;
}

img {
  margin: 0px auto 20px auto;
}

.top-menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
  background: rgba(39, 39, 39);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.menu-items {
  display: flex;
  gap: 20px;
}

.container-footer-section{
  width: 100%;
}

.contacts{
  padding: 24px;
}

.contacts h2{
  margin-bottom: 20px;
}

.contacts li{
  list-style-type: none;
}

.copyright{
  padding: 10px 0;
  background: rgb(10, 10, 10);
}
.copyright-text{
  margin: 0 auto;
  text-align: center;
  opacity: .5;
}