body{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    );
    font-family: Onest;
    font-style: bold;
    font-size: 17px;
    color: #ffffff;
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
a:active{
    color: blue;
}
a:visited{
    color: purple;
}

.avatar{
    width: 500px;
    border-radius: 100px;
    box-shadow: 10px 15px 10px rgba(0,0,0,0.5);
}

.education{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.regular{
    font-weight: bold;
}
/* .info{
    background-color: red;
    max-width: 100%;
    padding: 15px;
    border: 5px solid green;
    margin-left: 20px;
} */
/* .box-model > div{
    float: left;
    background: black;
    height: 200px;
    border: 1px solid red;
    width: 25%;
    box-sizing: border-box;
} */

.bg-pink{
    background: rgb(167, 74, 109);
}
.bg-green{
    background: rgb(74, 150, 74);
}
.bg-blue{
    background: rgb(110, 110, 255);
}
.bg-red{
    background: rgb(168, 56, 56);
}
.bg-purple{
    background: rgb(126, 61, 126);
}
.bg-yellow{
    background: rgb(134, 134, 42);
}

.main{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
}

.main-text h1{
    margin: 0;
}
.main-text h2{
    margin: 0;
}
.main-text p{
    margin: 0;
}

img{
    display: block;
    margin: 0 auto;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}