:root{
    scroll-behavior: smooth;
}


body{
    background: linear-gradient(
        rgba(11, 0, 80, 0.7),
        rgba(0, 0, 0, 0.8)
    );
    font-family: Onest;
    font-style: bold;
    font-size: 17px;
    color: #ffffff;
}
a{
    color: white;
    text-decoration: none;
}

h2{
    text-align: center;
}

.avatar{
    width: 300px;
    border-radius: 100px;
    box-shadow: 10px 15px 10px rgba(0,0,0,0.5);
}

.education{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.regular{
    font-weight: bold;
}

.main{
    text-align: center;
    margin: 0 auto;
    padding: 5%;
}

.main-text h1, .main-text p{
    margin: 5px;
}

img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.top-menu{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px 30px;
    box-sizing: border-box;
}

.menu-items{
    display: flex;
    gap: 20px;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}